body {
    overflow-x: hidden;
    /* overflow-y: scroll; */
    -ms-overflow-style: none;
} 
::-webkit-scrollbar {
    display: none;
}

/* 페이지 컨테이너 스타일 */
body, html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    overflow-y: scroll;
}

/* 각 페이지 */
.text-buble-container,
.message-cotainer,
.topper-img,
nav,
main {
    scroll-snap-align: start;
}

/* start-container css */
.text-buble-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 29px;
    overflow: hidden; /* 컨테이너를 벗어나는 요소 숨기기 */
    height: 100vh;
}

.text-buble {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0 33px;
    gap: 10px;
    border-radius: 100px;
    font-size: 24px;
    min-width: 160px; /* 최소 너비 설정 */
    height: 100px; /* 고정된 높이 설정 */
}

/* message-container css */
.message-cotainer {
    background-color: #345FFF;
    height: 114vh;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 0.3fr 9.4fr 0.3fr;
}

.topper-item {
    display: flex;
    overflow: hidden; /* 컨테이너를 벗어나는 요소 숨기기 */
    justify-content: center;
    font-size: 20px;
    font-weight: 300;
}
.topper-item:nth-child(1) {
    background-color: #ffffff;
    border: 1px solid #345FFF;
    color: #345FFF;
}
.topper-item:nth-child(3) {
    /* background-color: #ffffff; */
    color: #ffffff;
}
/* 말풍선 css */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pull {
    position:relative;
    margin: 50px;
    padding: 20px;
    width: 500px;
    height: 70px;
    border-radius: 125px;
    background-color: #ffff;
    font-size: 60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}

.pull:after {
    content:"";
    position: absolute;
    /* right: 100px; */
    top: 100px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 40px solid #ffff;
}

/* topper img container css */
.topper-img {
    display: block; /* 부모 요소를 블록 요소로 설정 */
    text-align: center; /* 자식 요소인 img를 중앙 정렬 */
}

.topper-img > img {
    margin: 70px auto; /* 수평 중앙 정렬을 위해 auto 사용 */
    width: 80%; /* 이미지의 너비 설정 */
    display: block; /* 이미지 자체도 블록 요소로 설정 */
}