body {
    overflow: scroll; /* 스크롤 기능을 유지 */
    background-color: #f8f9fa;
    text-overflow: ellipsis;
}
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤바 숨기기 */
}

.form-container {
    white-space: nowrap;
    max-width: 700px;
    margin: 50px auto;
    padding: 60px 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.item{
    display: flex;
}

h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 20px;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: -30px;
    border: 1px solid #ccc;
}

#snum, #name{
    width: 100%;
    height: 40px;
} 

#dnum{
    width: 130%;
    height: 40px;
} 

#pnum{
    width: 31%;
    height: 40px;
}

#moap{
    width: 130%;
    height: 300px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

button{
    position: relative;
    left: 59%;
    width: 220px;
    height: 48px;
    border-radius: 5px;
    margin-bottom: 40px;
}
